{% extends 'base.html' %}

{% block header_ext %}

{% endblock %}

{% block content %}
    <div id="content-container" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 style="display: inline-block">{{ notification.event_name }}</h4>
                <h5 class="pull-right notifications-item-sender">{{ notification.sender.name }}</h5>
                <h5 class="pull-right notifications-item-receive-time" style="margin-right: 10px">{{ notification.create_time }}</h5>
            </div>
            <div class="panel-body" style="min-height: 768px">
                {{ notification.event_content }}
            </div>
            <div class="panel-footer">
                <a class="btn btn-primary" href="{{ url_for('user.notifications') }}">返回</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}

{% endblock %}