{% extends 'base.html' %}

{% block header_ext %}
    <script src="{{ url_for('static', filename='js/parsley.js') }}"></script>
    <script src="//captcha.luosimao.com/static/js/api.js"></script>
{% endblock %}

{% block content %}
    <div id="content-container" class="container">
        <div class="es-section login-section">
            <div class="logon-tab clearfix">
                <a href="{{ url_for('user.signin') }}">{{ _('Sign In') }}</a>
                <a class="active">{{ _('Registration') }}</a>
            </div>
            <div class="login-main">
                <form class="form-horizontal" id="register-form" method="post" action="{{ url_for("user.reg") }}" data-widget-cid="widget-1"
                      data-parsley-validate="">
                    <div>
                        <div class="form-group mbl">
                            <label class="control-label col-sm-3 required"
                                   for="register_mobile">{{ _('Email Address') }}*</label>
                            <div class="col-sm-9">
                                <input type="text" id="register_email" name="email" required="required"
                                       class="form-control input-lg"
                                       placeholder="{{ _('Email Address') }}" data-widget-cid="widget-2" data-explain=""
                                       data-parsley-required-message="邮箱地址不能为空" data-parsley-type="email"
                                       data-parsley-maxlength="128"
                                       {% if data %}value="{{ data.email }}"{% endif %}>
                                <p class="help-block"></p>
                                {% if message_e %}
                                    <p class="help-block"><span class="text-danger"> {{ message_e }}</span></p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group mbl">
                            <label class="control-label col-sm-3 required"
                                   for="register_password1">{{ _('Password') }}*</label>
                            <div class="col-sm-9">
                                <input type="password" id="register_password1" name="password" required="required"
                                       class="form-control input-lg" data-widget-cid="widget-4" data-explain=""
                                       data-com.agilebits.onepassword.user-edited="yes"
                                       data-parsley-required-message="请设置登录密码"
                                       placeholder="{{ _('At least 6 characters') }}" data-parsley-length="[6,128]"
                                        {% if data %} value="{{ data.password }}" {% endif %}>
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="form-group mbl">
                            <label class="control-label col-sm-3 required"
                                   for="register_password2">{{ _('Password Again') }}*</label>
                            <div class="col-sm-9">
                                <input type="password" id="register_password2" name="password2" required="required"
                                       class="form-control input-lg" data-widget-cid="widget-4" data-explain=""
                                       data-com.agilebits.onepassword.user-edited="yes"
                                       data-parsley-required-message="请再次输入确认您的密码"
                                       placeholder="{{ _('At least 6 characters') }}"
                                       data-parsley-equalto="#register_password1" data-parsley-length="[6,128]"
                                        {% if data %} value="{{ data.password2 }}" {% endif %}>
                                {% if message_p %}
                                    <p class="help-block mbl" style="margin-top: 20px"><span
                                            class="text-danger"> {{ message_p }}</span></p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group mbl">
                            <label class="control-label col-sm-3 required" for="register_gender"> 用户类型*  </label>
                            <div class="col-sm-9">
                                <label class="checkbox-inline">
                                    <input type="radio" name="type" value="0" data-parsley-multiple="type"
                                           data-parsley-errors-container="#checkbox-errors"
                                           data-parsley-required-message="请选择您的用户类型"
                                           {% if data and data.type == '0' %}checked{% endif %}>学生
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="type" value="1" data-parsley-multiple="type" required
                                           {% if data and data.type == '1' %}checked{% endif %}>教师
                                </label>
                                <p id="type_message" class="help-block"></p>
                            </div>

                        </div>

                        <a id="next-step" class="btn btn-primary btn-lg btn-block mbl" href="javascript:void(0)">注册</a>
                    </div>


                    <div style="display: none;">
                        <div>
                            <h3>提交基本信息</h3>
                            <p>就要大功告成了，请完善下面的信息并提交，然后就可以使用您的账户了。</p><br>
                        </div>
                        <div class="form-group mbl">
                            <label class="control-label col-sm-3 required"
                                   for="register_nickname"> 用户昵称* </label>
                            <div class="col-sm-9">
                                <input type="text" id="register_nickname" name="username" required="required"
                                       class="form-control input-lg" data-url="/register/nickname/check"
                                       placeholder="{{ _('letters,digits,underscore') }}"
                                       data-com.agilebits.onepassword.user-edited="yes"
                                       data-parsley-required-message="用户昵称不能为空" data-widget-cid="widget-3"
                                       data-explain=""
                                       data-parsley-type="alphanum" data-parsley-maxlength="128"
                                       {% if data %}value="{{ data.username }}"{% endif %}>
                                <p class="help-block"></p>
                                {% if message_u %}
                                    <p class="help-block"><span class="text-danger"> {{ message_u }}</span></p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group mbl">
                            <label class="control-label col-sm-3 required" for="register_name"> 姓名* </label>
                            <div class="col-sm-9">
                                <input type="text" id="register_name" name="name" required="required"
                                       class="form-control input-lg" data-parsley-required-message="请输入您的真实姓名"
                                       placeholder="真实姓名" data-parsley-maxlength="32"
                                       {% if data %}value="{{ data.name }}"{% endif %}>
                                <p class="help-block"></p>
                                {% if message_name %}
                                    <p class="help-block"><span class="text-danger"> {{ message_name }}</span></p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group mbl">
                            <label class="control-label col-sm-3 required" for="register_gender"> 性别* </label>
                            <div class="col-sm-9">
                                <label class="checkbox-inline">
                                    <input type="radio" name="gender" value="0" data-parsley-multiple="gender"
                                           data-parsley-errors-container="#checkbox-errors"
                                           data-parsley-required-message="请选择您的性别"
                                           {% if data and data.gender == '0' %}checked{% endif %}>男
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="gender" value="1" data-parsley-multiple="gender" required
                                           {% if data and data.gender == '1' %}checked{% endif %}>女
                                </label>
                                <div id="checkbox-errors"></div>
                                <p class="help-block"></p>

                                {% if message_gender %}
                                    <p class="help-block"><span class="text-danger"> {{ message_gender }}</span></p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group mbl">
                            <label class="control-label col-sm-3 required" for="register_phone"> 手机号码* </label>
                            <div class="col-sm-9">
                                <input type="text" id="register_phone" name="phone" required="required"
                                       class="form-control input-lg" data-parsley-required-message="请输入您的手机号码"
                                       data-parsley-type="number" placeholder="手机号码" data-parsley-maxlength="32"
                                       {% if data %}value="{{ data.phone }}"{% endif %}>
                                <p class="help-block"></p>

                                {% if message_phone %}
                                    <p class="help-block"><span class="text-danger"> {{ message_phone }}</span></p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group mbl">
                            <label class="control-label col-sm-3 required" for="register_university"> 学校* </label>
                            <div class="col-sm-9">
                                <input type="text" id="register_university" name="university" required
                                       class="form-control input-lg" data-parsley-required-message="请输入您的学校"
                                       placeholder="学校" data-parsley-maxlength="32"
                                       {% if data %}value="{{ data.university }}"{% endif %}>
                                <p class="help-block"></p>
                                {% if message_university %}
                                    <p class="help-block"><span class="text-danger"> {{ message_university }}</span></p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group mbl">
                            <label class="control-label col-sm-3 required" for="register_student_id"> 学号* </label>
                            <div class="col-sm-9">
                                <input type="text" id="register_student_id" name="student_id" required
                                       class="form-control input-lg" data-parsley-required-message="请输入您的学号"
                                       data-parsley-type="number" placeholder="学号" data-parsley-maxlength="32"
                                       {% if data %}value="{{ data.student_id }}"{% endif %}>
                                <p class="help-block"></p>

                                {% if message_student_id %}
                                    <p class="help-block"><span class="text-danger"> {{ message_phone }}</span></p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group mbl">
                            <label class="control-label col-sm-3 required" for="register_student_type"> 学生类型* </label>
                            <div class="col-sm-9">
                                <label class="checkbox-inline">
                                    <input type="radio" name="student_type" value="0" data-parsley-multiple="student_type"
                                           data-parsley-errors-container="#checkbox-errors"
                                           data-parsley-required-message="请选择您的学生类型"
                                           {% if data and data.student_type == 0 %}checked{% endif %}>本科
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="student_type" value="1" data-parsley-multiple="student_type" required
                                           {% if data and data.student_type == 1 %}checked{% endif %}>研究生
                                </label>
                                <div id="checkbox-errors"></div>
                                <p class="help-block"></p>

                                {% if message_student_type %}
                                    <p class="help-block"><span class="text-danger"> {{ message_student_type }}</span></p>
                                {% endif %}
                            </div>
                        </div>

                        {% if config.CAPTCHA %}
                            <div class="mbl">
                                <div class="l-captcha" data-site-key="{{ config.CAPTCHA_SITE_KEY }}"
                                     data-width="100%"></div>
                            </div>
                            {% if message_captcha %}
                                <p class="help-block"><span class="text-danger"> {{ message_captcha }}</span></p>
                            {% endif %}
                        {% endif %}
                        <button type="submit" id="register-btn" data-submiting-text="{{ _('Submiting...') }}"
                                class="btn btn-primary btn-lg btn-block">提交信息
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script type="text/javascript">
        {% if data %}
            $("#register-form").children().eq(0).hide();
            $("#register-form").children().eq(1).show();
            {% if data.type == '1' %}
                $("#register-form").children().eq(1).children().eq(6).remove();
                $("#register-form").children().eq(1).children().eq(3).remove();
            {% endif %}
        {% endif %}


        $("#next-step").click(function () {
            var form = $("#register-form");
            if(first_form_validate()){
                var mail = $("#register_email").val();
                $.ajax({
                    url:'{{ url_for('user.reg_valid') }}?mail='+mail,
                    success: function(data){
                        if(data['status']=="success"){
                            form.children().eq(0).hide();
                            form.children().eq(1).show();
                            if($("input[name='type']:checked").val()=="1"){
                                form.children().eq(1).children().eq(6).remove();
                                form.children().eq(1).children().eq(3).remove();
                            }

                        }
                        else{
                            $('#register_email').parent().append('<p class="help-block"><span class="text-danger">该邮箱已被注册，请使用新的邮箱</span></p>');
                        }
                     }
                });
            }
        });


        // 验证第一张表单
        function first_form_validate(){
            $('#register_email').parent().children('p:last-child').remove();
            $("#type_message").html('');

            var status = 1;
            var email_instance = $('#register_email').parsley();
            email_instance.validate();
            if(!email_instance.isValid())status=0;
            var pwd1_instance = $('#register_password1').parsley();
            pwd1_instance.validate();
            if(!pwd1_instance.isValid())status=0;
            var pwd2_instance = $('#register_password2').parsley();
            pwd2_instance.validate();
             if(!pwd2_instance.isValid())status=0;

            if($("input[type=radio][name=type]:checked").length == 0)
            {
                $("#type_message").html('<span class="text-danger">请选择注册用户类型</span>');
                status=0;
            }

            if(status==1)return true;
            else return false;
        }


    </script>
{% endblock %}
