{% extends 'admin/hpc/base.html' %}

{% block header_ext %}
{% endblock %}

{% block content %}

    <div id="content-container" class="container">
        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">首页</a></li>
            <li><a href="{{ url_for('admin.machine_apply_index') }}">时机申请</a></li>
            <li class="active"><a href="{{ url_for('admin.machine_apply', apply_id=apply.id) }}">申请详情</a></li>
        </ol>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">机时申请表</h3>
                    </div>
                    <div class="panel-body">

                        <table class="table table-bordered">
                            <tbody>
                            <tr style="height: 41px;font-size: medium;font-weight: bold;color: #fff;background-color: #00551f;">
                                <td colspan="4">申请信息</td>
                            </tr>
                            <tr>
                                <td align="center" width="20%" style="background-color: #cfe9d4;">申请人姓名</td>
                                <td align="center">{{ apply.applicant_name }}</td>
                                <td align="center" width="20%" style="background-color: #cfe9d4;">申请人单位</td>
                                <td align="center">{{ apply.applicant_institution }}</td>
                            </tr>
                            <tr>
                                <td align="center" width="20%" style="background-color: #cfe9d4;">申请人电话</td>
                                <td align="center">{{ apply.applicant_tel }}</td>
                                <td align="center" width="20%" style="background-color: #cfe9d4;">申请人邮箱</td>
                                <td align="center">{{ apply.applicant_email }}</td>
                            </tr>
                            <tr>
                                <td align="center" width="20%" style="background-color: #cfe9d4;">申请人通信地址</td>
                                <td align="center" colspan="3">{{ apply.applicant_address }}</td>
                            </tr>
                            <tr>
                                <td align="center" width="20%" style="background-color: #cfe9d4;">项目名称</td>
                                <td align="center" colspan="3">{{ apply.project_name }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered">
                            <tbody>
                            <tr style="height: 41px;font-size: medium;font-weight: bold;color: #fff;background-color: #00551f;">
                                <td colspan="4">负责人信息</td>
                            </tr>
                            <tr>
                                <td align="center" width="20%" style="background-color: #cfe9d4;">负责人姓名</td>
                                <td align="center">{{ apply.manager_name }}</td>
                                <td align="center" width="20%" style="background-color: #cfe9d4;">负责人单位</td>
                                <td align="center">{{ apply.manager_institution }}</td>
                            </tr>
                            <tr>
                                <td align="center" width="20%" style="background-color: #cfe9d4;">负责人电话</td>
                                <td align="center">{{ apply.manager_tel }}</td>
                                <td align="center" width="20%" style="background-color: #cfe9d4;">负责人邮箱</td>
                                <td align="center">{{ apply.manager_email }}</td>
                            </tr>
                            <tr>
                                <td align="center" width="20%" style="background-color: #cfe9d4;">负责人通信地址</td>
                                <td align="center" colspan="3">{{ apply.manager_address }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered">
                            <tbody>
                            <tr style="height: 41px;font-size: medium;font-weight: bold;color: #fff;background-color: #00551f;">
                                <td colspan="4">资源信息</td>
                            </tr>
                            <tr>
                                <td align="center" width="20%" style="background-color: #cfe9d4;">超算单位</td>
                                <td align="center">{{ apply.sc_center | get_sc_center }}</td>

                            </tr>
                            <tr>
                                <td align="center" width="20%" style="background-color: #cfe9d4;">CPU核时</td>
                                <td align="center">{{ apply.cpu_hour }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="pull-right">
                            {% if apply.submit_status == 1 %}
                            <button data-op="edit" class="btn btn-primary">编辑申请</button>
                            <button data-op="approve" class="btn btn-info">同意申请</button>
                            <button data-op="disapprove" class="btn btn-danger">拒绝申请</button>
                            {% elif apply.submit_status == 2 %}
                                <span style="color: green;margin-right: 20px;"><strong>已通过该申请</strong></span>
                            {% elif apply.submit_status == 3 %}
                                <span style="color: red;margin-right: 20px;"><strong>已拒绝该申请</strong></span>
                            {% endif %}
                            <button data-op="export" class="btn btn-primary">导出申请</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}
    <script type="text/javascript">
        $(".pull-right > button").click(function () {
            $.ajax({
                url: location.href,
                type: "post",
                data: {
                    op: $(this).data("op")
                },
                success: function (data) {
                    if (data["status"] === "success") {
                        location.href = data["url"];
                    }
                }
            })
        });
    </script>
{% endblock %}