{% extends 'admin/hpc/base.html' %}

{% block header_ext %}
    <link href="https://cdn.bootcss.com/datatables/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/datatables/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.bootcss.com/datatables/1.10.13/js/dataTables.bootstrap.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container" id="content-container">
        <div id="machine-apply-manage" class="panel panel-default panel-col">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="{% if sc_center == 0 %}active{% endif %}"><a href="{{ url_for('admin.machine_apply_index') }}">广州超算</a></li>
                    <li class="{% if sc_center == 1 %}active{% endif %}"><a href="{{ url_for('admin.machine_apply_cs') }}">长沙超算</a></li>
                    <li class="{% if sc_center == 2 %}active{% endif %}"><a href="{{ url_for('admin.machine_apply_zky') }}">中科院超算</a></li>
                    <li class="{% if sc_center == 3 %}active{% endif %}"><a href="{{ url_for('admin.machine_apply_sh') }}">上海超算</a></li>
                </ul>
            </div>
            <div class="panel-body" style="padding: 10px">
                <table class="table" id="apply-table" style="word-break:break-all;">
                    <thead>
                    <tr>
                        <th>申请人姓名</th>
                        <th>申请人单位</th>
                        <th width="40%">申请事由</th>
                        <th>申请时间</th>
                        <th>状态</th>
                        <th>管理</th>
                    </tr>
                    </thead>
                    <tbody class="" id="tb-gz">
                    {% for a in applies %}
                        {% if a.submit_status != 0 %}
                        <tr>
                            <td>{{ a.applicant_name }}</td>
                            <td>{{ a.applicant_institution }}</td>
                            <td>{{ a.usage | truncate(50) }}</td>
                            <td>{{ a.applying_time }}</td>
                            <td>{% if a.submit_status == 3 %}已拒绝{% elif a.submit_status == 2 %}已同意{% else %}等待处理{% endif %}</td>
                            <td><a href="{{ url_for('admin.machine_apply', apply_id=a.id) }}">审核</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}
    <script>
        $(document).ready(function () {
            $('#apply-table').DataTable({
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"
                },
                order: [[ 4, "desc" ]],
                iDisplayLength: 50
            });
        });
    </script>
{% endblock %}