{% extends 'admin/hpc/base.html' %}

{% block header_ext %}
    <script src="{{ url_for('static', filename='js/parsley.js') }}"></script>
    <script src="{{ url_for('static', filename='js/show_invalid_info.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="content-container" class="container">
        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">首页</a></li>
            <li><a href="{{ url_for('admin.machine_apply_index') }}">时机申请</a></li>
            <li class="active"><a href="{{ url_for('admin.machine_apply', apply_id=apply.id) }}">申请详情</a></li>
            <li class="active"><a href="{{ url_for('admin.machine_apply_password', apply_id=apply.id) }}">账户信息</a></li>
        </ol>
        <div class="panel panel-default panel-page">
            <div class="panel-heading"><h2>秘钥信息</h2></div>
            <form class="form-horizontal" method="post" enctype="multipart/form-data" data-parsley-validate>
                <div class="form-group">
                    <div class="col-md-2 control-label"><label for="ip" class="required">访问地址</label></div>
                    <div class="col-md-8 controls">
                        <input id="ip" name="ip" class="form-control" type="text" required
                               data-parsley-required-message="访问地址不能为空" data-parsley-maxlength="64">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label"><label for="port" class="required">端口</label></div>
                    <div class="col-md-8 controls">
                        <input id="port" name="port" class="form-control" type="text" required
                               data-parsley-required-message="端口不能为空" data-parsley-type="number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label"><label for="username" class="required">用户名</label></div>
                    <div class="col-md-8 controls">
                        <input id="username" name="username" class="form-control" type="text" required
                               data-parsley-required-message="用户名不能为空" data-parsley-maxlength="64">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label"><label for="password" class="required">密码</label></div>
                    <div class="col-md-8 controls">
                        <input id="password" name="password" class="form-control" type="password" required
                               data-parsley-required-message="密码不能为空" data-parsley-maxlength="64">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label"><label for="key" class="required">私钥</label></div>
                    <div class="col-md-8 controls">
                        <input id="key" name="key" type="file">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8 controls">
                        <input id="course-create-btn" class="btn btn-fat btn-primary" value="确定" type="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
{% endblock %}