{% extends 'admin/admin_base.html' %}

{% block header_ext %}
    <script src="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
    <link href="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
{% endblock %}


{% block content %}

    <div class="container" id="content-container">
        <div class="panel panel-default panel-col">
            <div class="panel-heading">
                <button id="edit-seq" class="btn btn-info btn-sm pull-right" style="margin-right: 20px;"><i class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></i> 调整顺序</button>
                所有课程
            </div>
            <div class="panel-body">
                <div id="hint" style="display: none;margin-bottom: 10px;"><i class="es-icon es-icon-info"></i> 请直接拖动课程来调整顺序</div>
                <table class="table fixed-table" id="course-table">
                    <thead>
                    <tr>
                        <th width="35%">名称</th>
                        <th class="text-center" width="7%">课程数</th>
                        <th class="text-center" width="7%">学生数</th>
                        <th class="text-center" width="13%">创建时间</th>
                        <th class="text-center" width="8%">教师</th>
                        <th class="text-center" width="20%">操作</th>
                    </tr>
                    </thead>
                    <tbody id="tb">
                    {% if all_courses.count() > 0 %}
                        {% for c in all_courses %}
                        <tr data-id="{{ c.id }}" style="">
                            <td  title="{{ c.title }}">
                                <a href="{{ url_for('course.view', cid=c.id) }}"><img src="/static/{{ c.smallPicture }}" width="160px" height="90px"></a>
                                <span class="overflow-ellipsis" data-toggle="tooltip">{{ c.title }}</span>
                            </td>
                            <td class="text-center">{{ c.lessonNum }}</td>
                            <td class="text-center">{{ c.studentNum }}</td>
                            <td class="text-center">{{ c.createdTime | unite_time_format }}</td>
                            <td class="text-center">{{ c.teacher.name }}</td>
                            <td class="text-center">
                                <a href="{{ url_for('admin.admin_course_edit', course_id=c.id) }}">编辑</a>
                                <span class="divider"> | </span>
                                <a href="{{ url_for('admin.admin_course_picture', course_id=c.id) }}">图片</a>
                                <span class="divider"> | </span>
                                <a href="javascript:void(0)" name="del-btn">删除</a>
                                <span class="divider"> | </span>
                                {% if c.is_hidden %}
                                <a href="{{ url_for('admin.course_hide', course_id=c.id) }}">显示课程</a>
                                {% else %}
                                <a href="{{ url_for('admin.course_hide', course_id=c.id) }}">隐藏课程</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="text-center"><td colspan="5">还没有发布任何课程</td></tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include "admin/widget-del-warning.html" %}

{% endblock %}

{% block footer_ext %}
    <script type="text/javascript">
        $(document).ready(function () {
            var id = -1, obj = null;
            $("#tb").find("a[name=del-btn]").each(function () {
                $(this).click(function () {
                    id = $(obj).parent().parent().data('id');
                    obj = this;
                    $("#del-warning").modal("show");
                });
            });
            $("#del-confirm").click(function () {
                $.ajax({
                    type: "post",
                    url: location.href,
                    data: {
                        course_id: $(obj).parent().parent().data('id') ,
                        op: "del"
                    },
                    async: false,
                    success: function (data) {
                        $(obj).parent().parent().remove();
                        $("#del-warning").modal("hide");
                    }
                });
            });
            $("#edit-seq").click(function () {
                if ($(this).text() == " 调整顺序") {
                    $("#course-table").find("tbody").sortable();
                    $("#hint").show();
                    $(this).text("保存");
                }
                else {
                    var seq = {}, idx = 1;
                    $("#course-table").find("tbody").find("tr").each(function () {
                        seq[$(this).data("id")] = idx++;
                    });
                    $.ajax({
                        type: "post",
                        url: location.href,
                        data: {
                            seq: JSON.stringify(seq),
                            op: "seq"
                        },
                        success: function (data) {
                            if (data["status"] == "success") {
                                location.reload();
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}