<!-- 小屏幕下导航栏 -->
<ul class="navbar-mobile visible-xs nav" style="width:100%;">
    <li class="dropdown" style="display: inline-block;">
        <a href="#" data-toggle="dropdown" class="navbar-more dropdown-toggle">
            <i class="es-icon es-icon-menu"></i></a>
        <ul class="dropdown-menu">
            <li><a href="{{ url_for('course.index') }}">{{ _('Online Courses') }}</a></li>
            <li><a href="{{ url_for('problem.index') }}">{{ _('Examination Center') }}</a></li>
            <li><a href="{{ url_for('group.index') }}">{{ _('Community') }}</a></li>
            <li><a href="{{ url_for('lab.index') }}">{{ _('Virutal Lab') }}</a></li>
            <li><a href="{{ url_for('case.index') }}">{{ _('Case Display') }}</a></li>
            <li><a href="{{ url_for('machine_apply.index') }}">{{ _('Machine Hour Apply') }}</a></li>
            <li><a href="{{ url_for('main.user_manual') }}">用户手册</a></li>
        </ul>
    </li>

    {% if current_user.is_authenticated %}
        <li class="user-avatar-li nav-hover" style="display:inline-block; float:right; margin-top:10px;">
            <a href="javascript:;" class="dropdown-toggle">
                <img class="avatar-sm" src="{{ current_user.avatar_url | get_avatar_path }}">
            </a>
            <ul class="dropdown-menu" role="menu" style="left:auto;right:0">
                <li role="presentation" class="dropdown-header">{{ current_user.username }}</li>
                <li><a href="{{ url_for('user.view', uid=current_user.id) }}">
                    <i class="es-icon es-icon-person"></i>{{ _('Personal Page') }}</a>
                </li>
                <li><a href="{{ url_for('lab.index') }}">
                    <i class="es-icon es-icon-homework"></i>学习进度</a>
                </li>
                <li><a href="{{ url_for('user.notifications') }}">
                    <i class="es-icon es-icon-notifications"></i>通知</a>
                </li>
                <li> <a href="{{ url_for('user.setting') }}">
                    <i class="es-icon es-icon-setting"></i>{{ _('Setting') }}</a>
                </li>
                <li><a href="{{ url_for('user.signout') }}">
                    <i class="es-icon es-icon-power"></i>{{ _('Logout') }}</a>
                </li>
            </ul>
        </li>
    {% else %}
        <li style="display:inline-block;  float:right; font-size:20px; text-decoration:none; line-height:60px">
            <a style="color:black;" href="{{ url_for('user.signin', next=request.path) }}">{{ _('Sign In') }}</a>
        </li>
    {% endif %}
</ul>





<!-- 大屏幕下导航栏 -->
<header class="content-header navbar">

    <div style="position: relative;left: 25px;" class="navbar-header visible-xs">
        <a href="{{ url_for('main.index') }}" class="navbar-brand">
            <img src="{{ url_for('static', filename='images/logo.png') }}">
        </a>
    </div>

    <div class="navbar-header hidden-xs">
        <a href="{{ url_for('main.index') }}" class="navbar-brand">
            <img src="{{ url_for('static', filename='images/logo.png') }}">
        </a>
    </div>

    <ul class="navbar-user nav user-nav hidden-xs">
        {% if current_user.is_authenticated %}
            <li class="user-avatar-li nav-hover">
                <a href="javascript:;" class="dropdown-toggle">
                    <img class="avatar-sm" src="{{ current_user.avatar_url | get_avatar_path }}">
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header">{{ current_user.username }} <div style="font-size: 12px;color: #a2a2a2;border: solid 1px #c7c7c7;padding: 0 1px;border-radius: 5px;background: #f1f1f1;display: inline-block">Lv. 999</div></li>
                    <li><a href="{{ url_for('user.view', uid=current_user.id) }}">
                        <i class="es-icon es-icon-person"></i>{{ _('Personal Page') }}</a>
                    </li>
                    <li><a href="{{ url_for('user.statistics') }}">
                        <i class="es-icon es-icon-homework"></i>学习统计</a>
                    </li>
                    <li><a href="{{ url_for('user.notifications') }}">
                        <i class="es-icon es-icon-notifications"></i>通知</a>
                    </li>
                    <li> <a href="{{ url_for('user.setting') }}">
                        <i class="es-icon es-icon-setting"></i>{{ _('Setting') }}</a>
                    </li>
                    <li><a href="{{ url_for('user.signout') }}">
                        <i class="es-icon es-icon-power"></i>{{ _('Logout') }}</a>
                    </li>
                </ul>
            </li>
            {% if current_user.permissions == 2 %}
                <li><a href="{{ url_for('admin.teacher') }}">
                    <i class="es-icon es-icon-administrator"></i>切换为老师</a></li>
            {% endif %}
            {% if current_user.permissions == 3 %}
                <li><a href="{{ url_for('admin.machine_apply_index') }}">
                    <i class="es-icon es-icon-administrator"></i>机时管理</a></li>
            {% endif %}
        {% else %}
            <li>
                <a href="{{ url_for('user.signin', next=request.path) }}">{{ _('Sign In') }}</a>
            </li>
            <li>
                <a href="{{ url_for('user.reg', next=request.path) }}">{{ _('Registration') }}</a>
            </li>
        {% endif %}
    </ul>

    <nav class="collapse navbar-collapse">
        <!-- 大屏幕下导航栏 -->
        <ul class="nav navbar-nav clearfix visible-lg">
            <li><a href="{{ url_for('course.index') }}">{{ _('Online Courses') }}</a></li>
            <li><a href="{{ url_for('problem.index') }}">{{ _('Examination Center') }}</a></li>
            <li><a href="{{ url_for('group.index') }}">{{ _('Community') }}</a></li>
            <li><a href="{{ url_for('lab.index') }}">{{ _('Virutal Lab') }}</a></li>
            <li><a href="{{ url_for('case.index') }}">{{ _('Case Display') }}</a></li>
            <li><a href="{{ url_for('machine_apply.index') }}">{{ _('Machine Hour Apply') }}</a></li>
            <li><a href="{{ url_for('main.user_manual') }}">用户手册</a></li>
        </ul>

        <!-- 中屏幕下导航栏 -->
        <ul class="nav navbar-nav clearfix visible-md visible-sm">
            <li><a href="{{ url_for('course.index') }}">{{ _('Online Courses') }}</a></li>
            <li><a href="{{ url_for('problem.index') }}">{{ _('Examination Center') }}</a></li>

            <li class="nav-hover">
                <a> <i class="es-icon es-icon-morehoriz"></i> </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('group.index') }}">{{ _('Community') }}</a></li>
                    <li><a href="{{ url_for('lab.index') }}">{{ _('Virutal Lab') }}</a></li>
                    <li><a href="{{ url_for('case.index') }}">{{ _('Case Display') }}</a></li>
                    <li><a href="{{ url_for('machine_apply.index') }}">{{ _('Machine Hour Apply') }}</a></li>
                    <li><a href="{{ url_for('main.user_manual') }}">用户手册</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<div class="modal fade" id="manual-download" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">用户手册下载</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group clearfix">
                        <div class="controls">
                            <a href="{{ url_for('static', filename='download/ehpc_student_manual(v8.26).pdf') }}" target="_blank">学生使用手册</a>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="controls">
                            <a href="{{ url_for('static', filename='download/ehpc_teacher_manual(v8.26).pdf') }}" target="_blank">教师使用手册</a>
                        </div>
                    </div>
            </div>
        </div><!--/.modal-content-->
    </div><!--/.modal-->
</div>

<script type="text/javascript">
    $(function () {
        $(".manual").click(function () {
            $("#manual-download").modal("show");
        });
    });
</script>