{% extends 'base.html' %}

{% block header_ext %}
    <script src="{{ url_for('static', filename='js/parsley.js') }}"></script>
    <script src="{{ url_for('static', filename='js/show_invalid_info.js') }}"></script>
    <link href="//cdn.bootcss.com/bootstrap-select/1.12.1/css/bootstrap-select.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block content %}

    <div id="content-container" class="container">
        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">{{ _('Index') }}</a></li>
            {% if op == "create" %}
                <li class="active"><a href="{{ url_for('machine_apply.machine_apply_create') }}">{{ _('Machine Hour Apply Create') }}</a></li>
            {% else %}
                <li class="active"><a href="{{ url_for('machine_apply.machine_apply_edit', apply_id=apply.id) }}">{{ _('Machine Hour Apply Edit') }}</a></li>
            {% endif %}
        </ol>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="display: inline-block">{% if op == "create" %}{{ _('Machine Hour Apply Create') }}{% else %}{{ _('Machine Hour Apply Edit') }}{% endif %}</h3>
                        <div id="apply-submit-status" class="pull-right">
                            <span id="status0" class="submit-status active">未提交</span><span id="status1" class="submit-status" style="width: 150px">已提交，等待审批</span>{% if apply %}{% if apply.submit_status ==2 %}<span id="status2" class="submit-status">审批通过</span>{% elif apply.submit_status ==3 %}<span id="status3" class="submit-status">审批未通过</span>{% else %}<span class="submit-status">开始使用</span>{% endif %}{% else %}<span class="submit-status">开始使用</span>{% endif %}
                        </div>
                    </div>
                    <div class="panel-body">
                        <form id="machine-apply-create-form" method="post" enctype="application/x-www-form-urlencoded"
                              action="{% if op == "create" %}{{ url_for('machine_apply.machine_apply_create') }}{% else %}{{ url_for('machine_apply.machine_apply_edit', apply_id=apply.id) }}{% endif %}">
                            <table class="table table-bordered" cellspacing="0" id="problem">
                                <tr>
                                    <td class="text-center text-verticle-center" width="20%" rowspan="4">{{ _('Apply Information') }}</td>
                                    <td class="text-center" width="20%"></td>
                                    <td class="text-center" width="20%">{{ _('Applicant Institution') }}</td>
                                    <td class="text-center" width="20%">{{ _('Phone') }}</td>
                                    <td class="text-center" width="20%">{{ _('Institution Address') }}</td>
                                </tr>
                                <tr>
                                    <td class="text-center" width="20%">{{ _('Applicant Manager') }}</td>
                                    <td class="text-center" width="20%">
                                        <input id="project-user-institution" type="text" name="project-user-institution"
                                               value="{% if apply %}{{ apply.project_user_institution }}{% endif %}">
                                    </td>
                                    <td class="text-center" width="20%">
                                        <input id="project-user-tel" type="text" name="project-user-tel" value="{% if apply %}{{ apply.project_user_tel }}{% endif %}">
                                    </td>
                                    <td class="text-center" width="20%">
                                        <input id="project-user-address" type="text" name="project-user-address" value="{% if apply %}{{ apply.project_user_address }}{% endif %}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" width="20%">{{ _('Applicant people') }}</td>
                                    <td class="text-center" width="20%">
                                        <input id="project-applicant-institution" type="text" name="project-applicant-institution" value="{% if apply %}{{ apply.project_applicant_institution }}{% endif %}">
                                    </td>
                                    <td class="text-center" width="20%">
                                        <input id="project-applicant-tel" type="text" name="project-applicant-tel" value="{% if apply %}{{ apply.project_applicant_tel }}{% endif %}">
                                    </td>
                                    <td class="text-center" width="20%">
                                        <input id="project-applicant-address" type="text" name="project-applicant-address" value="{% if apply %}{{ apply.project_applicant_address }}{% endif %}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" width="20%">{{ _('Project Name') }}</td>
                                    <td class="text-center" width="20%" colspan="3">
                                        <input id="project-name" type="text" name="project-name" value="{% if apply %}{{ apply.project_name }}{% endif %}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center text-verticle-center" width="20%" rowspan="3">{{ _('Resourse Information') }}</td>
                                    <td class="text-center" width="20%">{{ _('Supercomputer Institute') }}</td>
                                    <td class="text-center" width="20%" colspan="3">
                                        <!--input type="text" name="sc-center"-->
                                        <select id="sc-center" name="sc-center" class="selectpicker" data-width="100%" data-parsley-required-message="请选择超算单位" required
                                                value="{% if apply %}{{ apply.sc_center }}{% endif %}">
                                            <option value="0">广州超算中心</option>
                                            <option value="1">长沙超算中心</option>
                                            <option value="2">中科院超算中心</option>
                                            <option value="3">上海超算中心</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" width="20%">{{ _('CPU Machine Hours') }}</td>
                                    <td class="text-center" width="20%" colspan="3">
                                        <input id="cpu-hour" type="text" name="cpu-hour" value="{% if apply %}{{ apply.CPU_hour }}{% endif %}">
                                    </td>
                                </tr>
                            </table>
                            <input id="save-op" type="hidden" name="save-op" value="submit">
                            <div class="form-submit text-right">
                                <input class='btn btn-info' id='show-info' type='button' value="申请说明" data-toggle="modal" data-target="#InfoModal">
                                <input class='btn btn-success' id='save-as-draft' type='submit' value="保存草稿"{% if apply %}{% if apply.submit_status == 1 or apply.submit_status == 2 %} disabled{% endif %}{% endif %}>
                                <input class='btn btn-success' id='submit' type='submit'{% if apply %}{% if apply.submit_status == 1 or apply.submit_status == 2 %} disabled{% endif %}{% endif %}>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button id="ssh-connect" class="btn btn-primary">点击开启SSH连接</button>
                    </div>
                    <div class="panel-body" style="display: none;">
                        <div id="display"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="InfoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="InfoModalLabel">申请说明</h4>
                </div>
                <div class="modal-body">
                    <div>
                        这里是申请说明
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    {% include "widget/alert_modal.html" %}
{% endblock %}

{% block footer_ext %}
    <script>
        var op = "{{ op }}";
        var save_satus = "{{ save_status }}";
        if (op == "edit") {
            {% if apply %}
                var data = "{{ apply.sc_center }}";
                var selected_classifies = [];
                selected_classifies.push(data);
                $(".selectpicker").selectpicker('val', selected_classifies);
                {% if apply.submit_status <= 2 %}
                    $("#status1").addClass("active");
                    {% if apply.submit_status == 2 %}
                        $("#status2").addClass("active");
                    {% endif %}
                {% else %}
                    $("#status1").addClass("active");
                    $("#status3").addClass("active");
                    $("#status3").css("background-color", "#E83D2C");
                {% endif %}
            {% endif %}
        }

        if (save_satus == "save") {
            alert_modal("保存草稿成功！");
        }
        $("#save-as-draft").click(function() {
            $("#save-op").val("save-as-draft");
        });
        $("#submit").click(function() {
            $('#project-user-institution').attr('data-parsley-maxlength', 256);
            $('#project-user-institution').attr('data-parsley-required-message', "请输入负责人单位");
            $('#project-user-institution').attr('required', "required");
            $('#project-user-tel').attr('data-parsley-required-message', "请输入负责人联系方式");
            $('#project-user-tel').attr('required', "required");
            $('#project-user-address').attr('data-parsley-maxlength', 256);
            $('#project-user-address').attr('data-parsley-required-message', "请输入负责人通讯地址");
            $('#project-user-address').attr('required', "required");
            $('#project-applicant-institution').attr('data-parsley-maxlength', 256);
            $('#project-applicant-institution').attr('data-parsley-required-message', "请输入申请人单位");
            $('#project-applicant-institution').attr('required', "required");
            $('#project-applicant-tel').attr('data-parsley-required-message', "请输入负申请人联系方式");
            $('#project-applicant-tel').attr('required', "required");
            $('#project-applicant-address').attr('data-parsley-maxlength', 256);
            $('#project-applicant-address').attr('data-parsley-required-message', "请输入申请人通讯地址");
            $('#project-applicant-address').attr('required', "required");
            $('#project-name').attr('data-parsley-maxlength', 256);
            $('#project-name').attr('data-parsley-required-message', "请输入项目名称");
            $('#project-name').attr('required', "required");
            $('#cpu-hour').attr('data-parsley-required-message', "请输入所需CPU核时");
            $('#cpu-hour').attr('required', "required");
            var p_instance = $("#machine-apply-create-form").parsley();
            p_instance.validate();
        });
    </script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/vnc/guacamole.min.js") }}"></script>
    <script>
    $(function () {
        var guac, //Guacamole类
            mouse,
            display;
        $("#ssh-connect").click(function () {
            $("#display").parent().show();
            $.ajax({
                url: "{{ url_for('machine_apply.ask_connect') }}",
                type: "post",
                success: function (data) {
                    if(data["status"] === "success"){
                        $("#ssh-connect").addClass("disabled");
                        var keyboard;
                        keyboard = new Guacamole.Keyboard(document);
                        keyboard.onkeydown = function (keysym) {
                            guac.sendKeyEvent(1, keysym);
                        };
                        keyboard.onkeyup = function (keysym) {
                            guac.sendKeyEvent(0, keysym);
                        };

                        display = document.getElementById("display");
                        guac = new Guacamole.Client(
                            new Guacamole.HTTPTunnel("http://" + "{{ proxy_server }}" + "/server/tunnel")
                        );
                        display.appendChild(guac.getDisplay().getElement());
                        guac.onerror = function (error) {
                            //alert_modal("远程桌面连接错误");
                        };
                        guac.connect("token="+data["token"]);
                        window.onunload = function () {
                            guac.disconnect();
                        };
                        sendScaledMouseState = function sendScaledMouseState(mouseState) {
                            var scaledState = new Guacamole.Mouse.State(
                                mouseState.x / guac.getDisplay().getScale(),
                                mouseState.y / guac.getDisplay().getScale(),
                                mouseState.left,
                                mouseState.middle,
                                mouseState.right,
                                mouseState.up,
                                mouseState.down);
                            guac.sendMouseState(scaledState);
                        };
                        mouse = new Guacamole.Mouse(guac.getDisplay().getElement());
                        mouse.onmousedown =
                            mouse.onmouseup =
                                mouse.onmousemove = function (mouseState) {
                                    if (!guac || !guac.getDisplay())
                                        return;
                                    guac.getDisplay().showCursor(true);
                                    sendScaledMouseState(mouseState);
                                };
                        guac.onclipboard = function (stream, mimetype) {
                            var reader = new Guacamole.StringReader(stream);
                            reader.ontext = function (text) {
                                $("#clipboard-content").val(text);
                            }
                        };
                        guac.getDisplay().onresize = function (width, height) {
                            if(!guac || !guac.getDisplay()) return;
                            var w = $("#display").width();
                            $("#display").css("position", "relative");
                            $("#display").css("left", 0.5 * (w - width));
                        };
                        $(window).resize(function () {
                            if(!guac || !guac.getDisplay()) return;
                            var w = $("#display").width(), h = $("#display").height();
                            $("#display").css("position", "relative");
                            $("#display").css("left", 0.5 * (w - guac.getDisplay().getWidth()));
                        });
                    }
                    else {
                        alert_modal(data["msg"]);
                    }
                }
            });
       });
    });
    </script>
{% endblock %}