{% extends 'base.html' %}

{% block header_ext %}
    <script src="{{ url_for('static', filename='js/parsley.js') }}"></script>
    <script src="{{ url_for('static', filename='js/show_invalid_info.js') }}"></script>
    <link href="//cdn.bootcss.com/bootstrap-select/1.12.1/css/bootstrap-select.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-editable-select.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/jquery-editable-select.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="content-container" class="container">
        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">{{ _('Index') }}</a></li>
            <li><a href="{{ url_for('machine_apply.index') }}">{{ _('Resource Apply') }}</a></li>
            {% if op == "create" %}
                <li class="active"><a href="{{ url_for('machine_apply.machine_apply_create') }}">{{ _('Machine Hour Apply Create') }}</a></li>
            {% else %}
                <li class="active"><a href="{{ url_for('machine_apply.machine_apply_edit', apply_id=apply.id) }}">{{ _('Machine Hour Apply Edit') }}</a></li>
            {% endif %}
        </ol>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="display: inline-block">{% if op == "create" %}{{ _('Machine Hour Apply Create') }}{% else %}{{ _('Machine Hour Apply Edit') }}{% endif %}</h3>
                        <div class="pull-right hpc-pb">
                            <ul id="hpc-progressbar">
                                <li id="status0"class="active">开始申请</li>
                                <li id="status1">已保存</li>
                                <li id="status2">等待审批</li>
                                {% if apply and apply.submit_status == 2 %}#}
                                    <li id="status3">审批通过</li>
                                {% elif apply and apply.submit_status == 3 %}
                                    <li id="status3">审批未通过</li>
                                {% else %}
                                    <li>申请完成</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form id="machine-apply-create-form" method="post" enctype="application/x-www-form-urlencoded"#}
                              action="{% if op == "create" %}{{ url_for('machine_apply.machine_apply_create') }}
                              {% else %}{{ url_for('machine_apply.machine_apply_edit', apply_id=apply.id) }}{% endif %}">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr class="table-first-row">
                                        <td colspan="4">申请信息</td>
                                    </tr>
                                    <tr>
                                        <td class="table-first-col">申请人姓名</td>
                                        <td><input id="applicant_name" type="text" name="applicant_name" value="{% if apply %}{{ apply.applicant_name }}{% endif %}"></td>
                                        <td align="center" width="20%" style="background-color: #cfe9d4;">申请人单位</td>
                                        <td><input id="applicant_institution" type="text" name="applicant_institution" value="{% if apply %}{{ apply.applicant_institution }}{% endif %}"></td>
                                    </tr>
                                    <tr>
                                        <td class="table-first-col">申请人电话</td>
                                        <td><input id="applicant_tel" type="text" name="applicant_tel" value="{% if apply %}{{ apply.applicant_tel }}{% endif %}"></td>
                                        <td align="center" width="20%" style="background-color: #cfe9d4;">申请人邮箱</td>
                                        <td><input id="applicant_email" type="text" name="applicant_email" value="{% if apply %}{{ apply.applicant_email }}{% endif %}"></td>
                                    </tr>
                                    <tr>
                                        <td class="table-first-col">申请人通信地址</td>
                                        <td colspan="3"><input id="applicant_address" type="text" name="applicant_address" value="{% if apply %}{{ apply.applicant_address }}{% endif %}"></td>
                                    </tr>
                                    <tr>
                                        <td class="table-first-col">项目名称</td>
                                        <td colspan="3">
                                            <select id="project_name" name="project_name" data-width="100%"
                                                    data-parsley-required-message="请填写项目名称" required
                                                    value="{% if apply %}{{ apply.project_name }}{% endif %}">
                                                <option value="高性能教育实践平台">高性能教育实践平台</option>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-bordered" style="display: none;">
                                <tbody>
                                <tr class="table-first-row">
                                    <td colspan="4">负责人信息</td>
                                </tr>
                                <tr>
                                    <td class="table-first-col">负责人姓名</td>
                                    <td><input id="manager_name" type="text" name="manager_name" value="{% if apply %}{{ apply.manager_name }}{% endif %}"></td>
                                    <td align="center" width="20%" style="background-color: #cfe9d4;">负责人单位</td>
                                    <td><input id="manager_institution" type="text" name="manager_institution" value="{% if apply %}{{ apply.manager_institution }}{% endif %}"></td>
                                </tr>
                                <tr>
                                    <td class="table-first-col">负责人电话</td>
                                    <td><input id="manager_tel" type="text" name="manager_tel" value="{% if apply %}{{ apply.manager_tel }}{% endif %}"></td>
                                    <td align="center" width="20%" style="background-color: #cfe9d4;">负责人邮箱</td>
                                    <td><input id="manager_email" type="text" name="manager_email" value="{% if apply %}{{ apply.manager_email }}{% endif %}"></td>
                                </tr>
                                <tr>
                                    <td class="table-first-col">负责人通信地址</td>
                                    <td colspan="3"><input id="manager_address" type="text" name="manager_address" value="{% if apply %}{{ apply.manager_address }}{% endif %}"></td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="table table-bordered">
                                <tbody>
                                <tr class="table-first-row">
                                    <td colspan="4">资源信息</td>
                                </tr>
                                <tr>
                                    <td class="table-first-col">超算单位</td>
                                    <td>
                                        <select id="sc_center" name="sc_center" data-width="100%"
                                                data-parsley-required-message="请选择超算单位" required
                                                value="{% if apply %}{{ apply.sc_center | get_sc_center }}{% endif %}">
                                            <option value="0" selected>国家超级计算广州中心</option>
                                            <option value="1">国家超级计算长沙中心</option>
                                            <option value="2">中科院级计算中心</option>
                                            <option value="3">国家超级计算上海中心</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-first-col">CPU核时</td>
                                    <td>
                                        <select id="cpu_hour" name="cpu_hour" data-width="100%"
                                                data-parsley-required-message="请选择核时" required
                                                value="{% if apply %}{{ apply.cpu_hour }}{% endif %}">
                                            <option value="1000">1000</option>
                                            <option value="2000">2000</option>
                                            <option value="5000">5000</option>
                                            <option value="10000">10000</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="table table-bordered">
                                <tbody>
                                    <tr class="table-first-row">
                                        <td colspan="4">机时用途</td>
                                    </tr>
                                    <tr>
                                        <td class="table-first-col" style="vertical-align: middle;">机时用途说明</td>
                                        <td>
                                            <textarea id="usage" name="usage" class="form-control" rows="3">{% if apply %}{{ apply.usage }}{% endif %}</textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <input id="save-op" type="hidden" name="save-op" value="submit">
                            <div class="form-submit text-right">
                                <input class='btn btn-info' id='show-info' type='button' value="申请说明" data-toggle="modal" data-target="#InfoModal">
                                <input class='btn btn-primary' id='save-as-draft' type='submit' value="保存草稿"{% if apply %}{% if apply.submit_status == 1 or apply.submit_status == 2 %} disabled{% endif %}{% endif %}>
                                <input class='btn btn-primary' id='submit' type='submit' value="提交申请" {% if apply %}{% if apply.submit_status == 1 or apply.submit_status == 2 %} disabled{% endif %}{% endif %}>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button id="ssh-connect" class="btn btn-primary">点击开启SSH连接</button>
                    </div>
                    <div class="panel-body" style="display: none;">
                        <div id="display"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="InfoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="InfoModalLabel">申请说明</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <table id="machine-apply-information-table" class="table table-bordered" style="">
                            <tbody>
                            <tr class="table-first-row">
                                <td colspan="4">申请指南</td>
                            </tr>
                            <tr>
                                <td class="table-first-col">第一步:在线填写申请表</td>
                                <td>
                                    1、登录平台，发起核时申请；
                                    2、仔细填写申请表；
                                    3、等待办理结果通知。
                                </td>
                            </tr>
                            <tr>
                                <td class="table-first-col">第二步：系统管理员审批</td>
                                <td>
                                    相关单位管理员对提交的申请进行审核，填写审核意见，给出审核结果。
                                </td>
                            </tr>
                            <tr>
                                <td class="table-first-col">第三步：使用超算核时</td>
                                <td>
                                    申请人可以开始使用超算核时。
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    {% include "widget/alert_modal.html" %}
{% endblock %}

{% block footer_ext %}
    <script>
    $(function () {
        $("#project_name").editableSelect({
            filter: false,
            effects: "fade"
        });

        $("#sc_center").editableSelect({
            filter: false,
            effects: "fade"
        });

        $("#cpu_hour").editableSelect({
            filter: false,
            effects: "fade"
        });

        var op = "{{ op }}";
        var save_satus = "{{ save_status }}";
        if (op === "edit") {
            {% if apply %}
                $("#status1").addClass("active");
                {% if apply.submit_status >= 1 %}
                    $("#status2").addClass("active");
                {% endif %}
                {% if apply.submit_status == 2%}
                    $("#status3").addClass("active");
                {% elif apply.submit_status == 3 %}
                    $("#status3").addClass("active");
                    $("#status3").css("background-color", "#E83D2C");
                {% endif %}
            {% endif %}
        }


        if (save_satus === "save") {
            alert_modal("保存草稿成功！");
        }
        $("#save-as-draft").click(function() {
            $("#save-op").val("save-as-draft");
        });
        $("#submit").click(function() {
            $("#applicant_name").attr('required', "required").attr("data-parsley-maxlength", 64).attr("data-parsley-required-message", "请输入申请人姓名");
            $("#applicant_institution").attr('required', "required").attr("data-parsley-maxlength", 64).attr("data-parsley-required-message", "请输入申请人单位");
            $("#applicant_tel").attr('required', "required").attr("data-parsley-maxlength", 64).attr("data-parsley-required-message", "请输入申请人电话");
            $("#applicant_email").attr('required', "required").attr("data-parsley-type", "email").attr("data-parsley-required-message", "请输入申请人邮箱");
            $("#applicant_address").attr('required', "required").attr("data-parsley-maxlength", 128).attr("data-parsley-required-message", "请输入申请人电话");

{#            $("#manager_name").attr('required', "required").attr("data-parsley-maxlength", 64).attr("data-parsley-required-message", "请输入申请人姓名");#}
{#            $("#manager_institution").attr('required', "required").attr("data-parsley-maxlength", 64).attr("data-parsley-required-message", "请输入申请人单位");#}
{#            $("#manager_tel").attr('required', "required").attr("data-parsley-maxlength", 64).attr("data-parsley-required-message", "请输入申请人电话");#}
{#            $("#manager_email").attr('required', "required").attr("data-parsley-type", "email").attr("data-parsley-required-message", "请输入申请人邮箱");#}
{#            $("#manager_address").attr('required', "required").attr("data-parsley-maxlength", 128).attr("data-parsley-required-message", "请输入申请人电话");#}

            $("#machine-apply-create-form").parsley().validate();
        });
    });
    </script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/vnc/guacamole.min.js") }}"></script>
    <script>
        $(function () {
            var guac, //Guacamole类
                mouse,
                display;
            $("#ssh-connect").click(function () {
                $("#display").parent().show();
                $.ajax({
                    url: "{{ url_for('machine_apply.ask_connect') }}",
                    type: "post",
                    success: function (data) {
                        if(data["status"] === "success"){
                            $("#ssh-connect").addClass("disabled");
                            var keyboard;
                            keyboard = new Guacamole.Keyboard(document);
                            keyboard.onkeydown = function (keysym) {
                                guac.sendKeyEvent(1, keysym);
                            };
                            keyboard.onkeyup = function (keysym) {
                                guac.sendKeyEvent(0, keysym);
                            };

                            display = document.getElementById("display");
                            guac = new Guacamole.Client(
                                new Guacamole.HTTPTunnel("http://" + "{{ proxy_server }}" + "/tunnel")
                            );
                            display.appendChild(guac.getDisplay().getElement());
                            guac.onerror = function (error) {
                                //alert_modal("远程桌面连接错误");
                            };
                            guac.connect("token="+data["token"]);
                            window.onunload = function () {
                                guac.disconnect();
                            };
                            sendScaledMouseState = function sendScaledMouseState(mouseState) {
                                var scaledState = new Guacamole.Mouse.State(
                                    mouseState.x / guac.getDisplay().getScale(),
                                    mouseState.y / guac.getDisplay().getScale(),
                                    mouseState.left,
                                    mouseState.middle,
                                    mouseState.right,
                                    mouseState.up,
                                    mouseState.down);
                                guac.sendMouseState(scaledState);
                            };
                            mouse = new Guacamole.Mouse(guac.getDisplay().getElement());
                            mouse.onmousedown =
                                mouse.onmouseup =
                                    mouse.onmousemove = function (mouseState) {
                                        if (!guac || !guac.getDisplay())
                                            return;
                                        guac.getDisplay().showCursor(true);
                                        sendScaledMouseState(mouseState);
                                    };
                            guac.onclipboard = function (stream, mimetype) {
                                var reader = new Guacamole.StringReader(stream);
                                reader.ontext = function (text) {
                                    $("#clipboard-content").val(text);
                                }
                            };
                            guac.getDisplay().onresize = function (width, height) {
                                if(!guac || !guac.getDisplay()) return;
                                var w = $("#display").width();
                                $("#display").css("position", "relative");
                                $("#display").css("left", 0.5 * (w - width));
                            };
                            $(window).resize(function () {
                                if(!guac || !guac.getDisplay()) return;
                                var w = $("#display").width(), h = $("#display").height();
                                $("#display").css("position", "relative");
                                $("#display").css("left", 0.5 * (w - guac.getDisplay().getWidth()));
                            });
                        }
                        else {
                            alert_modal(data["msg"]);
                        }
                    }
                });
           });
        });
    </script>
{% endblock %}