{% extends 'base.html' %}

{% block header_ext %}
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

    <div id="content-container" class="container">
        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">{{ _('Index') }}</a></li>
            <li class="active"><a href="{{ url_for('machine_apply.index') }}">{{ _('Resource Apply') }}</a></li>
        </ol>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3>{{ _('Resource Apply Center') }}</h3>
                        <hr>
                        <div id="apply-process-status" class="text-center">
                            <div class="process-status">
                                <div class="status-title">待办理</div>
                                <a href="{{ url_for('machine_apply.issue_unsubmit') }}"><img src="{{ url_for('static',filename='images/status_1.png') }}">{% if unsubmit > 0 %}<span class="badge">{{ unsubmit }}</span>{% endif %}</a>
                            </div>
                            <div class="process-status">
                                <div class="status-title">待审批</div>
                                <a href="{{ url_for('machine_apply.issue_waiting') }}"><img src="{{ url_for('static',filename='images/status_2.png') }}">{% if waiting >0 %}<span class="badge">{{ waiting }}</span>{% endif %}</a>
                            </div>
                            <div class="process-status">
                                <div class="status-title">已完成</div>
                                <a href="{{ url_for('machine_apply.issue_finished') }}"><img src="{{ url_for('static',filename='images/status_3.png') }}">{% if finished > 0 %}<span class="badge">{{ finished }}</span>{% endif %}</a>
                            </div>
                        </div>
                    </div>
                    <div id="user-issue-box" class="panel-body">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center" style="padding-bottom: 0px;">
                                    <h4 class="panel-title">{{ _('ALL Issues') }}</h4>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item active" data-option="machine"><i class="glyphicon glyphicon-time"></i> 机时申请</li>
                                        <li class="list-group-item" data-option="other"><i class="glyphicon glyphicon-calendar"></i> 其他事项</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <div class="panel panel-default">
                                <div id="apply-issue-box" class="panel-body">
                                    {% include "machine_apply/machine_apply.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}
    <script type="text/javascript">
        function connect_machine(event) {
            var has_account = 0;
            var sc_center = event.getAttribute('data-sc-center');
            {% if not current_user.machine_account %}
                alert_modal("您还未申请超算账号，请申请相应超算账号之后再连接！");
                setTimeout(function() {$("#modal-alert .close").click()}, 2000);
            {% else %}
                {% for a in current_user.machine_account %}
                    {% if a.sc_center == 0 %}
                        if (sc_center == 0) {
                            has_account = 1;
                        }
                    {% elif a.sc_center == 1 %}
                        if (sc_center == 1) {
                            has_account = 1;
                        }
                    {% elif a.sc_center == 2 %}
                        if (sc_center == 2) {
                            has_account = 1;
                        }
                    {% else %}
                        if (sc_center == 3) {
                            has_account = 1;
                        }
                    {% endif %}
                {% endfor %}
                if(has_account == 0) {
                    if (sc_center == 0) {
                        alert_modal("您还未申请广州超算账号，请申请之后再连接！");
                        setTimeout(function() {$("#modal-alert .close").click()}, 2000);
                    }
                    else if (sc_center == 1) {
                        alert_modal("您还未申请长沙超算账号，请申请之后再连接！");
                        setTimeout(function() {$("#modal-alert .close").click()}, 2000);
                    }
                    else if (sc_center == 2) {
                        alert_modal("您还未申请中科院超算账号，请申请之后再连接！");
                        setTimeout(function() {$("#modal-alert .close").click()}, 2000);
                    }
                    else {
                        alert_modal("您还未申请上海超算账号，请申请之后再连接！");
                        setTimeout(function() {$("#modal-alert .close").click()}, 2000);
                    }
                }
            {% endif %}
        }
    </script>
    <script src="{{ url_for('static',filename='js/machine_apply.js') }}"></script>
{% endblock %}