<div id="sc-center-list">
    <div class="sc-link text-center">
        <a href="#" target="_blank" class="link-dark">
            <div class="sc-center-item">
                <div class="sc-center-img">
                    <img src="{{ url_for('static', filename='images/ssh.png')}}" alt="广州超算" class="img-responsive">
                </div>
                <div class="sc-name">
                    连接广州超算
                </div>
            </div>
        </a>
    </div>
    <div class="sc-link text-center">
        <a href="#" target="_blank" class="link-dark">
            <div class="sc-center-item">
                <div class="sc-center-img">
                    <img src="{{ url_for('static', filename='images/ssh.png')}}" alt="长沙超算" class="img-responsive">
                </div>
                <div class="sc-name">
                    连接长沙超算
                </div>
            </div>
        </a>
    </div>
    <div class="sc-link text-center">
        <a href="#" target="_blank" class="link-dark">
            <div class="sc-center-item">
                <div class="sc-center-img">
                    <img src="{{ url_for('static', filename='images/ssh.png')}}" alt="中科院超算" class="img-responsive">
                </div>
                <div class="sc-name">
                    连接中科院超算
                </div>
            </div>
        </a>
    </div>
    <div class="sc-link text-center">
        <a href="#" target="_blank" class="link-dark">
            <div class="sc-center-item">
                <div class="sc-center-img">
                    <img src="{{ url_for('static', filename='images/ssh.png')}}" alt="上海超算" class="img-responsive">
                </div>
                <div class="sc-name">
                    连接上海超算
                </div>
            </div>
        </a>
    </div>
</div>