<div class="sc-center-list">
    <div class="sc-link text-center">
        <a href="{{ url_for('machine_apply.machine_apply_information') }}?tag=0" class="link-dark">
            <div class="sc-center-item">
                <div class="sc-center-img">
                    <img src="{{ url_for('static', filename='images/apply.png')}}" alt="广州超算" class="img-responsive">
                </div>
                <div class="sc-name">
                    申请广州超算
                </div>
            </div>
        </a>
    </div>
    <div class="sc-link text-center">
        <a href="{{ url_for('machine_apply.machine_apply_information') }}?tag=1" class="link-dark">
            <div class="sc-center-item">
                <div class="sc-center-img">
                    <img src="{{ url_for('static', filename='images/apply.png')}}" alt="长沙超算" class="img-responsive">
                </div>
                <div class="sc-name">
                    申请长沙超算
                </div>
            </div>
        </a>
    </div>
    <div class="sc-link text-center">
        <a href="{{ url_for('machine_apply.machine_apply_information') }}?tag=2" class="link-dark">
            <div class="sc-center-item">
                <div class="sc-center-img">
                    <img src="{{ url_for('static', filename='images/apply.png')}}" alt="中科院超算" class="img-responsive">
                </div>
                <div class="sc-name">
                    申请中科院超算
                </div>
            </div>
        </a>
    </div>
    <div class="sc-link text-center">
        <a href="{{ url_for('machine_apply.machine_apply_information') }}?tag=3" class="link-dark">
            <div class="sc-center-item">
                <div class="sc-center-img">
                    <img src="{{ url_for('static', filename='images/apply.png')}}" alt="上海超算" class="img-responsive">
                </div>
                <div class="sc-name">
                    申请上海超算
                </div>
            </div>
        </a>
    </div>
</div>
<div id="connect-machine" class="sc-center-list">
    <div class="sc-link text-center {% if current_user.machine_accounts | not_applied(0) %}not-applied{% endif %}" data-sc-center="0" onclick="connect_machine(this);">
        <div class="">
            <div class="sc-center-item">
                <div class="sc-center-img">
                    <img src="{{ url_for('static', filename='images/ssh.png')}}" alt="广州超算" class="img-responsive">
                </div>
                <div class="sc-name">
                    连接广州超算
                </div>
            </div>
        </div>
    </div>
    <div class="sc-link text-center {% if current_user.machine_accounts | not_applied(1) %}not-applied{% endif %}" data-sc-center="1" onclick="connect_machine(this);">
        <div class="">
            <div class="sc-center-item">
                <div class="sc-center-img">
                    <img src="{{ url_for('static', filename='images/ssh.png')}}" alt="长沙超算" class="img-responsive">
                </div>
                <div class="sc-name">
                    连接长沙超算
                </div>
            </div>
        </div>
    </div>
    <div class="sc-link text-center {% if current_user.machine_accounts | not_applied(2) %}not-applied{% endif %}" data-sc-center="2" onclick="connect_machine(this);">
        <div class="">
            <div class="sc-center-item">
                <div class="sc-center-img">
                    <img src="{{ url_for('static', filename='images/ssh.png')}}" alt="中科院超算" class="img-responsive">
                </div>
                <div class="sc-name">
                    连接中科院超算
                </div>
            </div>
        </div>
    </div>
    <div class="sc-link text-center {% if current_user.machine_accounts | not_applied(3) %}not-applied{% endif %}" data-sc-center="3" onclick="connect_machine(this);">
        <div class="">
            <div class="sc-center-item">
                <div class="sc-center-img">
                    <img src="{{ url_for('static', filename='images/ssh.png')}}" alt="上海超算" class="img-responsive">
                </div>
                <div class="sc-name">
                    连接上海超算
                </div>
            </div>
        </div>
    </div>
</div>