 <div class="course-detail-content" data-widget-cid="widget-1">
    <div class="es-piece">
        <div class="piece-body">
            <ul id="course-item-list">
                {% if homeworks %}
                    {% for h in homeworks %}
                        <li class="homework-item clearfix" data-toggle="tooltip"
                            title="{% if h.id | homework_uploaded(current_user.id) %}已提交{% else %}未提交{% endif %}">
                            <div class="homework-title col-lg-4 col-md-4 col-sm-4 col-xs-4" data-homework_id="{{ h.id }}">
                                <span class="homework-icon"><i class="es-icon es-icon-undone"></i></span>
                                <span class="title"> {{ h.title }}</span>
                            </div>
                            <div class="homework-info col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <span class="course-type pull-right"
                                      style="{% if current_user.id | is_join_course(course.id) %}{% if h.id | homework_uploaded(current_user.id) %}color: #5BB85D;{% else %}color: #DD4B39;{% endif %}{% endif %}">
                                    {% if current_user.id | is_join_course(course.id) %}{% if h.id | homework_uploaded(current_user.id) %}已提交{% else %}未提交{% endif %}{% endif %}
                                    <i class="es-icon es-icon-check"></i>
                                </span>
                                <span class="homework-deadline pull-right">截止时间: {{ h.deadline | unite_time_format }}</span>
                                <span class="homework-score pull-right">
                                    {% if current_user.id | has_score(h.id) %}
                                        <span class="label label-info homework-comment" title="{{ current_user | get_comment(h.id) }}">查看点评</span>
                                        <span class="label label-success">{{ current_user | get_score(h.id) }}分</span>
                                    {% else %}
                                        <span class="label label-danger">未批改</span>
                                    {% endif %}
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <div class="text-center">本课程暂时未布置作业</div>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% block footer_ext %}
<script>
    $(".homework-title").click(function() {
        var homework_id = $(this).data('homework_id');
        {% if current_user.id | is_join_course(course.id) %}
            $.ajax({
                url: "{{ url_for('course.homework_detail') }}",
                type: 'post',
                data: {
                    hid: homework_id
                },
                success: function (html) {
                    $("#course-homework").empty().html(html.data);
                },
                error: function () {
                    $("#course-homework").empty().html("<h2 style='text-align: center'> 作业内容为空或者出现其他错误 </h2>");
                }
            });
        {% else %}
            alert_modal("请先加入课程才能查看作业！");
            setTimeout(function(){
                $("#modal-alert .close").click();
            },1500);
        {% endif %}
    });
    $(".homework-comment").click(function() {
        var homework_comment = $(this).attr("title");
        alert_modal(homework_comment);
    });
</script>
{% endblock %}