{% extends 'base.html' %}

{% block content %}
    <div class="container" id="content-container">
        <section class="course-detail-header after">
            <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
                <li><a href="/">{{ _('Index') }}</a></li>
                <li><a href="{{ url_for('course.index') }}">{{ _('All The Courses') }}</a></li>
                <li class="active"><a href="{{ url_for('course.view', cid=course.id) }}">{{ course.title }}</a></li>
            </ol>

            <div class="es-section clearfix">
                <div class="course-header-top clearfix">
                    <div class="course-img">
                        <img class="img-responsive" src="{{ url_for('static', filename=course.smallPicture) }}"
                             alt="{{ course.title }}">
                    </div>

                    <div class="course-info">
                        <h2 class="title">
                            {{ course.title }}
                        </h2>
                        <div class="subtitle"> {{ course.subtitle }}</div>
                        {% if course.public == False %}
                        <div class="subtitle">开放时间: {{ course.beginTime | unite_time_format }} 至 {{ course.endTime | unite_time_format }}</div>
                        {% endif %}
                    </div>

                    <div class="course-operation clearfix">
                        <div class="student-num hidden-xs">
                            <i class="es-icon es-icon-people"></i>
                            <span id="student-num">{{ course.studentNum }} </span> 人
                        </div>

                        {% if current_user.is_authenticated %}
                            {% if current_user.id | is_join_course(course.id) %}
                                <div class="join" id="join-course">
                                    <a class="btn btn-danger btn-lg"
                                       href="javascript:void(0)" id="course-in" name="exit-course">
                                        退出课堂</a>
                                </div>
                            {% else %}
                                <div class="join" id="join-course">

                                    {% if course.is_invited %}
                                        {% if status != 2 %}
                                            <a class="btn btn-primary btn-lg"  name="invite-course"
                                               href="javascript:void(0)">
                                                使用邀请码</a>
                                            <p style="margin-top: 5px;">使用邀请码可免审批加入课程</p>
                                        {% else %}
                                            <a class="btn btn-primary btn-lg" href="#">正在审批中</a>
                                        {% endif %}
                                    {% else %}
                                        <a class="btn btn-primary btn-lg"
                                       href="{{ url_for('course.join', cid=course.id) }}" id="course-in" name="join-course">
                                        加入课程</a>
                                    {% endif  %}
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="join">
                                <a class="btn btn-info btn-lg" href="{{ url_for('user.signin', next=url_for('course.view', cid=course.id)) }}"> 请登录以加入课堂</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <div class="course-detail row">

            {% block course_page %}
            {% endblock %}

            <!-- 所有加入该课程的学员 -->
            <div id="all_students">
                {% include 'course/widget_course_students.html' %}
            </div>
        </div>
    </div>
    {% include "widget/upload_status_modal.html" %}
    {% include "course/widget_course_exit.html" %}
    {% include "course/widget_course_invite.html" %}
{% endblock %}

{% block footer_ext %}
    <script>
        $(document).ready(function () {
            var status = {{ status }};
            if (status == 2) {
                $(".join").children("a").text("加入审批中").attr("href", "#");
            }

            //退出警告框
            $("#join-course").find("a[name=exit-course]").click(function () {
                $("#exit-warning").modal("show");
            });

            $("#exit-confirm").click(function () {
                $.ajax({
                    url: '{{ url_for('course.exit_out', cid=course.id) }}',
                    success: function () {
                        window.location.reload();
                    }
                })
            });
            //退出警告框END

            //邀请码输入框
            $("#join-course").find("a[name=invite-course]").click(function () {
                $("#invite-warning").modal("show");
            });
            $("#invite-confirm").click(function () {
                $.ajax({
                    url: '{{ url_for('course.invite_join', cid=course.id) }}',
                    type: "GET",
                    data: {'invite_code':$('#invite_code').val()},
                    success: function (data) {
                        if(data['status']=='success')
                            window.location.reload();
                        else
                            alert_modal("邀请码错误，请重新输入");
                    },
                    error: function () {
                        alert_modal("加入课程失败, 请重试");
                    }
                })
            });
            //邀请码输入框END

            $("#join-course").find("a[name=join-course]").click(function () {
                $.ajax({
                    url: this.href,
                    success: function (data) {
                        if (data.status == 'success') {
                            if ($('#course-in').hasClass('btn-primary')) {
                                window.location.reload();
                            }
                        }
                        else if (data["status"] == "pending") {
                            $(".join").children("a").text("加入审批中").attr("href", "#");
                            alert_modal("已经提交申请，请耐心等待老师同意");
                        }
                        else if (data["status"] == "duplicated") {
                            alert_modal("请勿重复提交申请");
                        }
                        else if (data["status"] == "time error") {
                            alert_modal("当前时间段不能申请该课程");
                        }
                    },
                    error: function () {
                        if ($('#course-in').hasClass('btn-primary')) {
                            alert_modal("加入课程失败, 请重试");
                        }
                        else {
                            alert_modal("退出课程失败, 请重试");
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}
{# course #}