{% extends 'admin/admin_base.html' %}

{% block content %}
    <div id="content-container" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>网站数据统计</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="user-structure" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div style="height: 300%;"></div>
                    </div>
                    <div id="visit-statistics" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div style="height: 300%;"></div>
                    </div>
                    <div id="user-geo-distribution" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div style="height: 700%;"></div>
                    </div>
                    <div id="user-learning-situation" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div style="height: 300%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}
    <script src="{{ url_for('static', filename='js/echarts/echarts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/echarts/infographic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/echarts/walden.js') }}"></script>
    <script src="{{ url_for('static', filename='js/echarts/china.js') }}"></script>
    <script src="{{ url_for('static', filename='js/echarts/world.js') }}"></script>
    <script>
        $(function () {
            var graph_user_structure = echarts.init($("#user-structure").find("div")[0], 'walden');
            graph_user_structure.setOption({
                title: {
                    text: "网站用户构成(共{{ user_count['all'] }}位)",
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function (params) {
                        var result = params.seriesName + "<br>";
                        result += '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:' + params.color + '"></span>';
                        result += params.name + ": " + params.value + "人 ";
                        result += "(" + params.percent + "%)";
                        return result;
                    }
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ["管理员", "学生", "教师", "高性能计算管理员"]
                },
                series: [
                    {
                        name: '用户构成',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '67%'],
                        data: [
                            {value: {{ user_count['admin'] }}, name: '管理员'},
                            {value: {{ user_count['student'] }}, name: '学生'},
                            {value: {{ user_count['teacher'] }}, name: '教师'},
                            {value: {{ user_count['hpc_admin'] }}, name: '高性能计算管理员'}
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            });

            var graph_visit_statistics = echarts.init($("#visit-statistics").find("div")[0], 'walden');
            graph_visit_statistics.setOption({
                title: {
                    text: "主页访问情况(共{{ visit_statistics['all'] }}人次)",
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function (params) {
                        var result = params.seriesName + "<br>";
                        result += '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:' + params.color + '"></span>';
                        result += params.name + ": " + params.value + "人次 ";
                        result += "(" + params.percent + "%)";
                        return result;
                    }
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ["管理员", "学生", "教师", "高性能计算管理员", "匿名用户"]
                },
                series: [
                    {
                        name: '访问情况',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '67%'],
                        data: [
                            {value: {{ visit_statistics['admin'] }}, name: '管理员'},
                            {value: {{ visit_statistics['student'] }}, name: '学生'},
                            {value: {{ visit_statistics['teacher'] }}, name: '教师'},
                            {value: {{ visit_statistics['hpc_admin'] }}, name: '高性能计算管理员'},
                            {value: {{ visit_statistics['anonymous'] }}, name: '匿名用户'}
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            });

            var res = [];

            $.ajax({
                url: "{{ url_for('admin.ehpc_statistics') }}",
                type: "post",
                data: {
                    op: "user_geo_distribution"
                },
                async: false,
                success: function (data) {
                    if(data["status"]==="success"){
                        var positions, user_geo_data;
                        positions = data["positions"];
                        user_geo_data = data["user_geo_data"];
                        for(var d in user_geo_data){
                            res.push({
                                name: d,
                                value: [positions[d]['longitude'], positions[d]['latitude'], user_geo_data[d]]
                            });
                        }
                    }
                }
            });

            var graph_user_geo_distribution = echarts.init($("#user-geo-distribution").find("div")[0], 'walden');
            graph_user_geo_distribution.setOption({
                title: {
                    text: '用户地域分布',
                    left: 'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: function (params) {
                        var result = params.seriesName + "<br>";
                        result += '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:' + params.color + '"></span>';
                        result += params.name + ": " + params.value[2] + "人";
                        return result;
                    }
                },
                toolbox: {
                    show : true,
                    feature : {
                        dataView : {show: true, readOnly: true},
                        restore : {show: true}
                    },
                    itemSize: 30
                },
                legend: {
                    orient: 'vertical',
                    y: 'bottom',
                    x:'right',
                    data:['人数']
                },
                geo: {
                    map: 'china',
                    label: {
                        emphasis: {
                            show: false
                        }
                    },
                    roam: true,
                    itemStyle: {
                        normal: {
                            areaColor: '#3fb1e3',
                            borderColor: '#5d5d5d'
                        },
                        emphasis: {
                            areaColor: '#3a99ca',
                            borderColor: '#5d5d5d'
                        }
                    }
                },
                series : [
                    {
                        name: '人数',
                        type: 'scatter',
                        coordinateSystem: 'geo',
                        data: res,
                        symbolSize: function (val) {
                            return val[2];
                        },
                        label: {
                            normal: {
                                formatter: '{b}',
                                position: 'right',
                                show: false
                            },
                            emphasis: {
                                show: true
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#f4e925'
                            }
                        }
                    },
                    {
                        name: 'Top 5',
                        type: 'effectScatter',
                        coordinateSystem: 'geo',
                        data: res.sort(function (a, b) {
                            return b.value - a.value;
                        }).slice(0, 6),
                        symbolSize: function (val) {
                            return val[2];
                        },
                        showEffectOn: 'render',
                        rippleEffect: {
                            brushType: 'stroke'
                        },
                        hoverAnimation: true,
                        label: {
                            normal: {
                                formatter: '{b}',
                                position: 'right',
                                show: true
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#f4e925',
                                shadowBlur: 10,
                                shadowColor: '#333'
                            }
                        },
                        zlevel: 1
                    }
                ]
            });

            var user_learning_situation_data = {{ learning_situation_statistics | statistic_get_data('all') | safe }}["{{ Statistic.ACTION_COURSE_VISIT_DOCUMENT_OR_VIDEO }}"];
            var data_month = [0,0,0,0,0,0,0,0,0,0,0,0];
            var month, start_time, end_time;

            for(var i=0;i<user_learning_situation_data.length;i++){
                month = new Date(user_learning_situation_data[i]["data"]["end_time"]).getMonth();
                start_time = new Date(user_learning_situation_data[i]["data"]["start_time"]);
                end_time = new Date(user_learning_situation_data[i]["data"]["end_time"]);
                data_month[month] += Math.floor((end_time.getTime() - start_time.getTime()) / 36000) / 100;
            }

            var graph_user_learning_situation = echarts.init($("#user-learning-situation").find("div")[0], 'walden');
            graph_user_learning_situation.setOption({
                title: {
                    text: '用户学习时间(' + (new Date()).getFullYear() + '年)'
                },
                tooltip: {
                    trigger: 'axis',
                    formatter: function (params) {
                        var result = params[0].seriesName + "<br>";
                        result += '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:' + params[0].color + '"></span>';
                        result += params[0].name + ": " + params[0].data + "小时";
                        return result;
                    }
                },
                legend: {
                    data:['学习时间']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'学习时间',
                        type:'line',
                        data:data_month,
                        label: {
                            normal: {
                                show: true,
                                formatter: '{c}小时'
                            }
                        }
                    }
                ]
            });

            $(window).resize(function () {
                graph_user_structure.resize();
                graph_visit_statistics.resize();
                graph_user_geo_distribution.resize();
                graph_user_learning_situation.resize();
            });

        });
    </script>
{% endblock %}
