{% extends 'base.html' %}

{% block header_ext %}
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//cdn.bootcss.com/bootstrap-select/1.12.1/css/bootstrap-select.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <link href="{{ url_for('static',filename='css/program.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <link href="{{ url_for('static', filename='css/bootstrap-switch.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="content-container" class="container">
        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">{{ _('Index') }}</a></li>
            <li><a href="{{ url_for('problem.index') }}">{{ _('Practice Center') }}</a></li>
            <li class="active"><a href="{{ url_for('problem.show_program') }}">{{ _('Program Lists') }}</a></li>
            <li class="active"><a href="{{ url_for('problem.program_view',pid=program.id) }}">{{ program.title }}</a>
            </li>
        </ol>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <h1 class="col-md-8 panel-title"
                            style="font-size: 1.5em;">{{ program.id }}. {{ program.title }} </h1>
                        <div class="pull-right panel-title" style="margin-right: 15px; color: #FFF">
                            <a class="btn btn-primary"
                               href="{{ url_for('problem.show_my_submits', pid=program.id) }}">我的提交<i class="glyphicon glyphicon-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body markdown-body" id="program-content" data-to-render="{{ program.detail }}"></div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-3">
                <button id="code-download" class="btn btn-block btn-primary">下载代码</button>
                <form method="post" target="_blank">
                    <input type="hidden" name="op" value="download">
                    <input type="hidden" name="program_id" value="{{ program.id }}">
                    <input type="hidden" name="code" value="">
                    <input type="hidden" name="filename" value="">
                </form>
            </div>
            <div class="col-md-3">
                <button id="code-upload" class="btn btn-block btn-primary">上传代码</button>
                <form method="post">
                    <input type="hidden" name="op" value="upload">
                    <input type="hidden" name="program_id" value="{{ program.id }}">
                    <input id="code-field" name="code" type="file" style="display: none;">
                </form>
            </div>
            <div class="col-md-3">
                <button id="code-save" class="btn btn-block btn-primary">暂存代码</button>
            </div>
            <div class="col-md-3">
                <button id="code-default" class="btn btn-block btn-primary">参考代码</button>
                <div id="default-code" style="display: none">{{ program.default_code }}</div>
            </div>
        </div>

        <form onsubmit="submit_code(); return false;">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label class="" for="the_language">编程语言</label>
                    <select class="col-md-6 selectpicker" name="the_language" id="the_language">
                        <option value="mpi">mpi</option>
                        <option {% if program.default_language == 1 %}selected{% endif %} value="openmp">openmp</option>
                        <option value="ace/mode/c_cpp">C</option>
                        <option value="ace/mode/c_cpp">C++</option>
                    </select>
                </div>

                <div class="col-md-3 form-group">
                    <label class="" for="cpu_number">核数</label>
                    <select class="col-md-6 selectpicker" name="cpu_number" id="cpu_number">
                        <option value="1">1</option>
                        <option value="4">4</option>
                        <option value="16">16</option>
                        <option value="64">64</option>
                        <option value="128">128</option>
                        <option value="512">512</option>
                        <option value="1024">1024</option>
                        <option value="2400">2400</option>
                    </select>
                </div>

                <div class="col-md-3 form-group">
                    <label for="ifE" style="margin: 0;line-height: 34px">
                        性能评测
                        <input name="ifE" id="ifEvaluate" type="checkbox" value="0"/>
                    </label>
                </div>
            </div>

            <div class="row form-group">
                <div id="user-code-editor" class="code-editor"></div>
            </div>


            <div class="row form-group">
                {% if program.can_evaluate %}
                <div class="pull-left">
                    <label for="step_num">评测迭代次数（建议取值 1~28）：</label>
                    <input name="step_num" type="number" value="1" min="1" max="100">
                </div>
                {% endif %}
                <div class="pull-right">
                    {% if not program.can_evaluate %}
                    <button id="submit" class="btn btn-primary"
                            type="submit">{{ _('Submit Solution') }}
                    </button>
                    {% endif %}
                    {% if program.can_evaluate %}
                    <a href="javascript:evaluate_code();" class="btn btn-primary">
                        代码评测
                    </a>
                    {% else %}
                    <button disabled id="evaluate" class="btn btn-primary">
                        本题暂不支持代码评测
                    </button>
                    {% endif %}
                </div>
            </div>

            <input class="hide" name="language">
            <input class="hide" name="program_id" value="{{ program.id }}">
            <input id="source_code" name="source_code" value="" type="hidden">

        </form>



        {#  keep the result #}
        <div class="row es-section" id="result-show" style="display: none">
            <div id="compiler" class="col-md-6 form-group">
                <div class="markdown-body">
                    <p class="text-center text-large">编译结果</p>
                    <div id="compiler-content" class="result-keep-space">
                    </div>
                    <div id="submit-status-box" class="hide"><span id="submit-status"></span></div>
                </div>
            </div>

            <div id="run" class="col-md-6 form-group">
                <div class="markdown-body">
                    <p class="text-center text-large">运行结果</p>
                    <div id="run-content" class="result-keep-space">
                    </div>
                </div>
            </div>
        </div>

        {#  keep the evaluate result #}
        <div class="row" id="evaluate-show" style="display:none;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>评测分析报告</h4>
                </div>
                <table data-toggle="table">
                    <thead>
                        <tr><th></th>
                            <th>运行核数</th>
                            <th>算法迭代次数</th>
                            <th>所得值</th>
                            <th>值的误差率(对比串行程序)</th>
                            <th>开销(运行时间)</th>
                            <th>加速倍率(对比串行程序)</th></tr>
                    </thead>
                    <tbody>
                        <tr><td><b>参考串行程序</b></td>
                            <td>1</td>
                            <td id="ser_step"></td>
                            <td id="ser_val"></td>
                            <td>——</td>
                            <td id="ser_cost"></td>
                            <td>1.0</td></tr>
                        <tr><td><b>参考并行程序</b></td>
                            <td id="ref_cpu"></td>
                            <td id="ref_step"></td>
                            <td id="ref_val"></td>
                            <td id="ref_diff"></td>
                            <td id="ref_cost"></td>
                            <td id="ref_ratio"></td></tr>
                        <tr><td><b>您的程序</b></td>
                            <td id="you_cpu"></td>
                            <td id="you_step"></td>
                            <td id="you_val"></td>
                            <td id="you_diff"></td>
                            <td id="you_cost"></td>
                            <td id="you_ratio"></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 代码文件命名模态框 -->
    <div class="modal fade" id="download-warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body" style="height: 100px;font-size: medium">
                    <form>
                        <div class="form-group">
                            <label class="control-label">请为下载文件命名：</label>
                            <input id="filename" type="text" class="form-control" value="code.txt">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="download-confirm" type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>

    {% if cache %}
        <div id="hidden-code" style="display: none;">{{ cache.code }}</div>
    {% endif %}

{% endblock %}

{% block footer_ext %}
    <script src="{{ url_for('static', filename='js/bootstrap-switch.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown_latex_support.js') }}"></script>

    <script>
        $(function () {
            $('#ifEvaluate').bootstrapSwitch({
                state: false,
                onText: "是",
                offText: "否",
                onColor: "success",
                size: "small",
                onSwitchChange: function(event,state){
                    if(state===true){
                        $(this).val("1");
                    }else{
                        $(this).val("0");
                    }
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            var content = $("#program-content");
            content.html(latex_support(content.data('to-render')));
            content.attr('data-to-render', null);
        });
    </script>

    <script src="//cdn.bootcss.com/ace/1.2.6/ace.js"></script>
    <script src="//cdn.bootcss.com/ace/1.2.6/theme-tomorrow_night.js"></script>

    <script>
        var editor = ace.edit("user-code-editor");
        editor.setOptions({
            useWrapMode: true,
            highlightActiveLine: true,
            showPrintMargin: false,
            theme: 'ace/theme/tomorrow_night',
            mode: 'ace/mode/c_cpp'
        });
    </script>

    <script type="text/javascript">
        function evaluate_code() {
            document.getElementById('source_code').value = editor.getValue();
            $("input[name=cpu_number]").val($("#cpu_number").find("option:selected").text());

            $('#result-show').css("display", 'block');
            var loading = "<img src='{{ url_for('static', filename='images/submit.gif') }}' alt='Loading'></div>";
            var $run_result = $("#run-content");
            var $compiler_result = $("#compiler-content");
            $run_result.empty();
            $("#compiler-content").html(loading);
            $("#submit-status-box").removeClass("hide");

            $.ajax({
                type: "post",
                cache: false,
                url: "{{ url_for('problem.evaluate', pid=program.id) }}",
                data: $("form").serialize(),
                success: function (data) {
                    if (data.status === 'success') {
{#                        $("#compiler-content").html('');#}
{#                        $run_result.html(data.run_out);#}
                        $("#ref_cpu").html(data.cpu_num);
                        $("#you_cpu").html(data.cpu_num);
                        $("#ser_step").html(data.step_num);
                        $("#ref_step").html(data.step_num);
                        $("#you_step").html(data.step_num);

                        var data_obj = $.parseJSON(data.run_out);
                        $("#ser_val").html(data_obj["ser_val"]);
                        $("#ser_cost").html(data_obj["ser_cost"]);
                        $("#ref_cost").html(data_obj["ref_cost"]);
                        $("#ref_val").html(data_obj["ref_val"]);
                        $("#ref_diff").html(data_obj["ref_diff"]);
                        $("#ref_ratio").html(data_obj["ref_ratio"]);
                        $("#you_cost").html(data_obj["you_cost"]);
                        $("#you_val").html(data_obj["you_val"]);
                        $("#you_diff").html(data_obj["you_diff"]);
                        $("#you_ratio").html(data_obj["you_ratio"]);

                        $("#result-show").css("display","none");
                        $("#evaluate-show").css("display","block");
                    }
                },
                error: function (data) {
                    $compiler_result.html("<p class='text-center'> 暂时不能提交, 请稍后重试...</p>");
                    $run_result.html("<p class='text-center'> 暂时不能提交, 请稍后重试...</p>");
                }
            });

        }
    </script>

    <script>

        function submit_code() {
            document.getElementById('source_code').value = editor.getValue();

            $("input[name=language]").val($("#the_language").find("option:selected").text());
            $("input[name=cpu_number]").val($("#cpu_number").find("option:selected").text());

            //console.log($("#ifEvaluate").val())
            var data = $.param({'job_op': '1', 'job_id': 'ERROR', 'ifEvaluate': $("#ifEvaluate").val(), }) + '&' + $("form").serialize();
            $('#result-show').css("display", 'block');
            var loading = "<img src='{{ url_for('static', filename='images/submit.gif') }}' alt='Loading'></div>";
            var $run_result = $("#run-content");
            var $compiler_result = $("#compiler-content");
            $run_result.empty();
            $("#compiler-content").html(loading);
            $("#submit-status")[0].innerHTML = "代码提交中，请稍候....";
            $("#submit-status-box").removeClass("hide");

            if($("#cpu_number").find("option:selected").text() > 0) {
                $.ajax({
                    type: "post",
                    cache: false,
                    url: "{{ url_for('problem.submit', pid=program.id) }}",
                    data: data,
                    success: function (data) {
                        if (data.status === 'success') {
                            $compiler_result.html('编译完毕');
                            $run_result.html(data.run_out);

                        }
                        else {
                            $compiler_result.html(data.msg);
                            $run_result.html("暂时无法运行...");
                        }
                        $("#submit-status").hide();
                    },
                    error: function (data) {
                        $("#submit-status").hide();
                        $compiler_result.html("<p class='text-center'> 暂时不能提交, 请稍后重试...</p>");
                        $run_result.html("<p class='text-center'> 暂时不能提交, 请稍后重试...</p>");
                    }
                });
            }
        }
    </script>

    <script type="text/javascript">
        $(function () {
            {% if cache %}
                editor.setValue($("#hidden-code").text());
                $("#hidden-code").remove();
            {% endif %}
            $("#code-save").click(function () {
                $.ajax({
                    url: location.href,
                    type: "post",
                    data: {
                        op: "save",
                        program_id: {{ program.id }},
                        code: editor.getValue()
                    },
                    success: function (data) {
                        if (data['status'] == "success")
                            alert_modal("保存成功");
                    }
                });
            });
            $("#code-upload").click(function () {
                $("#code-field").click();
            });
            $("#code-default").click(function () {
                editor.setValue($("#default-code").text());
            });
            $("#code-field").change(function () {
                var form = $(this).parent();
                $.ajax({
                    url: location.href,
                    type: "post",
                    data: new FormData(form[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        editor.setValue(data);
                    }
                });
            });
            $("#code-download").click(function () {
                $("#download-warning").modal("show");
            });
            $("#download-confirm").click(function () {
                var form = $("#code-download").next();
                var filename = $("input[id=filename]").val();
                form.children("input[name=code]").attr("value", editor.getValue());
                form.children("input[name=filename]").attr("value", filename);
                form.submit();
                $("#download-warning").modal("hide");
            });

        });
    </script>
    
{% endblock %}

{# problem #}
