{% extends 'base.html' %}

{% block header_ext %}
    <script src="//cdn.bootcss.com/datatables/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.2.7/semantic.min.js"></script>
    <script src="//cdn.bootcss.com/datatables/1.10.13/js/dataTables.semanticui.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.2.7/semantic.min.css">
    <link type="text/css" rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.13/css/dataTables.semanticui.min.css">
    <style type="text/css">
        .tag {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background-color: #26c5f4;
            border-radius: 1020px;
        }
        .easy {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background-color: #5cb85c;
            border-radius: 1020px;
        }
        .medium {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background-color: #f0ad4e;
            border-radius: 1020px;
        }
        .hard {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background-color: #d9534f;
            border-radius: 1020px;
        }
        .very-hard {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background-color: #D9008D;
            border-radius: 1020px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content-container" class="container">
        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">{{ _('Index') }}</a></li>
            <li><a href="{{ url_for('problem.index') }}">{{ _('Practice Center') }}</a></li>
            <li class="active"><a href="{{ url_for('problem.show_program') }}">{{ _('Program Lists') }}</a></li>
        </ol>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                        标签过滤查询：
                        <select name="tag" id="tag-select" onchange="tag_query()">
                            <option value="all">所有标签</option>
                            {% for t in tags %}
                                {% if the_tag and the_tag.id == t.id %}
                                    <option selected="selected" value="{{ t.id }}">{{ t.name }}</option>
                                {% else %}
                                    <option value="{{ t.id }}">{{ t.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                    <table class="ui celled table" cellspacing="0" id="program">
                        <thead>
                        <tr>
                            <th style="width: 10%">{{ _('ID') }}</th>
                            <th style="width: 40%">{{ _('Description') }}</th>
                            <th style="width: 15%; text-align: center">标签</th>
                            <th style="width: 8%; text-align: center">{{ _('Difficulty') }}</th>
                            <th style="width: 8%; text-align: center">提交次数</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in programs %}
                            <tr>
                                <td><a href="{{ p.id }}">{{ loop.index }}</a></td>
                                <td><a href="{{ p.id }}">{{ p.title }}</a></td>
                                <td style="text-align: center">
                                    {% for x in p.tags %}
                                        <span class="tag">{{ x.name }}</span>
                                    {% endfor %}
                                </td>
                                <td style="text-align: center">
                                    {% if p.difficulty == 0 %}<span class="easy">简单</span>{% endif %}
                                    {% if p.difficulty == 1 %}<span class="medium">中等</span>{% endif %}
                                    {% if p.difficulty == 2 %}<span class="hard">困难</span>{% endif %}
                                    {% if p.difficulty == 3 %}<span class="very-hard">极难</span>{% endif %}
                                </td>
                                {% if p.id in count %}
                                    <td style="text-align: center"><a href="{{ url_for('problem.show_my_submits',pid=p.id,uid=current_user.id) }}">{{ count[p.id] }}</a></td>
                                {% else %}
                                    <td style="text-align: center">0</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script>
        function tag_query() {
            var tag_id = $("#tag-select option:selected").val();
            if(tag_id=='all') {
                window.location.href = '{{ url_for('problem.show_program') }}';
            }
            else window.location.href = '{{ url_for('problem.show_program') }}?tag=' + tag_id;
        }

        $(document).ready(function() {
            $('#program').DataTable({
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"
                },
                "lengthMenu": [[50, 100, 150, -1], [50, 100, 150, "全部"]]
            });
        });
    </script>

{% endblock %}

{#programs#}
{#count数组:记录当前用户每道题的提交次数，作为参数从show_program传递过来#}