{% extends 'base.html' %}

{% block header_ext %}
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

    <div id="content-container" class="container">
        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">{{ _('Index') }}</a></li>
            <li class="active"><a href="{{ url_for('main.user_manual') }}">{{ _('User Manual') }}</a></li>
        </ol>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center" style="border-bottom-color: #DDD">
                        <h4>{{ _('User Manual') }}</h4>
                    </div>
                    <div id="user-manual-box" class="panel-body">
                        <div id="student-manual" class="alert alert-info alert-dismissable uploaded" role="alert">
                            <i class="es-icon es-icon-description status-icon"></i>
                            <a href="{{ url_for('static', filename='download/EHPC-学生用户手册(8月26日版).pdf') }}" target="_blank">学生使用手册</a>
                        </div>
                        <div id="teacher-manual" class="alert alert-info alert-dismissable uploaded" role="alert">
                            <i class="es-icon es-icon-description status-icon"></i>
                            <a href="{{ url_for('static', filename='download/EHPC-教师用户手册(8月26日版).pdf') }}" target="_blank">教师使用手册</a>
                        </div>
                        <div id="th2-manual" class="alert alert-info alert-dismissable uploaded" role="alert">
                            <i class="es-icon es-icon-description status-icon"></i>
                            <a href="{{ url_for('static', filename='download/天河二号使用手册.zip') }}" target="_blank">天河二号使用手册(广州超算)</a>
                        </div>
                        <div id="ssc-manual" class="alert alert-info alert-dismissable uploaded" role="alert">
                            <i class="es-icon es-icon-description status-icon"></i>
                            <a href="{{ url_for('static', filename='download/魔方-2高性能计算平台应用环境v0.5.pdf') }}" target="_blank">魔方-2高性能计算平台使用手册(上海超算)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}

{% endblock %}